---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="B-UNIT">

	<div id="Top" data-w-id="355b4dfe-ecdd-0519-0123-8260652914bf" class="page-content">
	    <div class="navigation-wrapper">
	    	<div class="navigation-top-part">
	    		<div class="logo-flex">
	    			<a href="/" aria-current="page" class="w-inline-block">
                        <img src="https://static.wixstatic.com/media/a0ba77_421651df88114c6ca465fc3e7072ad13~mv2.png/v1/crop/x_629,y_390,w_1711,h_2149/fill/w_488,h_612,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/B--Unit%20Iso.png" loading="lazy" width="596" sizes="(max-width: 479px) 100vw, (max-width: 767px) 64px, 74px" alt="" class="b-unit-logo">
                    </a>
	    		</div>
	    		<div class="second-part">
                    <div data-w-id="a3572d73-2c6c-c027-f293-e47416d4de5e" class="menu-wrapper">
                        <div data-is-ix2-target="1" class="lottie-hamburger" data-w-id="a3572d73-2c6c-c027-f293-e47416d4de5f" data-animation-type="lottie" data-src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b53f817c3c15dcb6e0c41_lf30_editor_m4m41ngw.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="0.5" data-duration="0">                        	
                        </div>
                    </div>
                </div>
	    	</div>
	    	<div class="navigation-left-part">
                <div class="social-wrapper left"><a data-w-id="a3572d73-2c6c-c027-f293-e47416d4de62" href="https://twitter.com/" target="_blank" class="social-icon-right w-inline-block"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b4fa0515995188c33a787_facebook.png" loading="lazy" width="20" alt="" class="animation-image" style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <div class="social-circle" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"></div>
                    </a>
                    <a data-w-id="a3572d73-2c6c-c027-f293-e47416d4de65" href="https://twitter.com/" target="_blank" class="social-icon-right w-inline-block"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b52c21e89bdf53e985de3_twitter.png" loading="lazy" width="20" alt="" class="animation-image" style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <div class="social-circle" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"></div>
                    </a><a data-w-id="a3572d73-2c6c-c027-f293-e47416d4de68" href="https://twitter.com/" target="_blank" class="social-icon-right w-inline-block"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b4fa1515995ffcc33a789_instagram.png" loading="lazy" width="20" alt="" class="animation-image" style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <div class="social-circle" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"></div>
                    </a>
                    <a data-w-id="a3572d73-2c6c-c027-f293-e47416d4de6b" href="https://twitter.com/" target="_blank" class="social-icon-right w-inline-block"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b4fa0515995775d33a782_linkedin.png" loading="lazy" width="20" alt="" class="animation-image _2" style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <div class="social-circle" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"></div>
                    </a>
                </div>
            </div>
            <div class="menu" style="display: none; opacity: 0;">
                <div class="menu-content">
                    <div class="navlinks-wrapper">
                        <a href="/" data-w-id="a3572d73-2c6c-c027-f293-e47416d4de71" aria-current="page" class="navlinks w-inline-block" style="transform: translate3d(0px, 20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                            <div>Inicio</div>
                            <div class="navigation-line-wrapper">
                                <div class="navigation-line" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                            </div>
                        </a>
                    </div>
                    <div class="navlinks-wrapper">
                        <a href="/work" data-w-id="a3572d73-2c6c-c027-f293-e47416d4de77" class="navlinks w-inline-block" style="transform: translate3d(0px, 20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                            <div>Conócenos</div>
                            <div class="navigation-line-wrapper">
                                <div class="navigation-line" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                            </div>
                        </a>
                    </div>
                    <div class="navlinks-wrapper">
                        <a href="/about" data-w-id="a3572d73-2c6c-c027-f293-e47416d4de7d" class="navlinks w-inline-block" style="transform: translate3d(0px, 20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                            <div>Equipo</div>
                            <div class="navigation-line-wrapper">
                                <div class="navigation-line" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                            </div>
                        </a>
                    </div>
                    <div class="navlinks-wrapper">
                        <a href="/blog" data-w-id="a3572d73-2c6c-c027-f293-e47416d4de83" class="navlinks w-inline-block" style="transform: translate3d(0px, 20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                            <div>Artistas</div>
                            <div class="navigation-line-wrapper">
                                <div class="navigation-line" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                            </div>
                        </a>
                    </div>
                    <div class="navlinks-wrapper">
                        <a href="/contact" data-w-id="a3572d73-2c6c-c027-f293-e47416d4de89" class="navlinks w-inline-block" style="transform: translate3d(0px, 20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                            <div>Contacto</div>
                            <div class="navigation-line-wrapper">
                                <div class="navigation-line" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="contact-information-wrapper">
                    <div class="contact-grid">
                        <div>
                            <p data-w-id="a3572d73-2c6c-c027-f293-e47416d4de91" style="transform: translate3d(0px, 20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">Inglaterra 102, Moderna, 37328 León, Gto México</p>
                        </div>
                        <div><a data-w-id="a3572d73-2c6c-c027-f293-e47416d4de94" href="#" class="paragraph-link" style="transform: translate3d(0px, 20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">P: 477 249 2798</a><a href="#" data-w-id="a3572d73-2c6c-c027-f293-e47416d4de96" class="paragraph-link" style="transform: translate3d(0px, 20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">E: bunitmx@gmail.com</a></div>
                    </div>
                </div>
            </div>
	    </div>

	    <img src="https://assets.website-files.com/5f0cb0f38e979571f1eae3ae/5f1ab0ae266703d03255b2b7_sfondo.png" alt="" srcset="" class="" width="500px" style="
            position: absolute;
            z-index: 1;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            filter: blur(4px);">

        <div class="hero">
        	<div class="container">
        		<div class="hero-grid">
        			<div id="w-node-_282478a3-5ac0-2be6-2fcb-9422729ad9cc-ec1f2cdc" class="part-2">
                        <div class="hero-flex-center">
                            <h1 style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="hero-display _1">B-UNIT</h1>
                        </div>
                        <div class="hero-flex-center">
                            <h3 style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); font-size: 3vw; padding-bottom: 10px; transform-style: preserve-3d;" class="hero-display _3">House of the rising</h3>
                        </div>
                        <div class="hero-flex-center">
                            <h1 style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); font-size: 3vw; padding-bottom: 10px; transform-style: preserve-3d;" class="hero-display _3">Music.</h1>
                        </div>
                    </div>
                    <div id="w-node-_282478a3-5ac0-2be6-2fcb-9422729ad9d6-ec1f2cdc" class="part-1">
                        <div class="hero-flex-center left">
                            <p data-w-id="282478a3-5ac0-2be6-2fcb-9422729ad9d8" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="paragraph-1">El
                                futuro de la música está aquí. <br>Manteniéndose a la vanguardia y en tendencia dentro
                                de la cultura musical en León, B-Unit tiene el compromiso de proveerle a los fanáticos
                                los álbumes y sencillos más destacados a través de sus artistas. Sigue navegando para
                                descubrir quienes somos y hacia donde vamos.<strong><br></strong></p>
                        </div>
                        <div class="hero-flex-center left">
                            <div data-w-id="282478a3-5ac0-2be6-2fcb-9422729ad9de" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            	<a href="#conocenos" target="" class="button w-button">Conócenos</a></div>
                        </div>
                    </div>
        		</div>
        	</div>
        	<div data-w-id="043aa911-bdc4-244e-0f02-e293866a1bd0" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="scroll-down-wrapper">
                <div class="scroll-flex">
                    <div class="scroll-down" data-w-id="bad69336-1e3a-382f-f049-a993f6cb530a" data-animation-type="lottie" data-src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b6bc4aed06b4a094e74db_lf30_editor_n58scpif.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="5" data-duration="0"></div>
                </div>
            </div>
        </div>

        <div class="section wf-section" id="conocenos">
            <div class="container">
               

                <div class="">
                    <div class="max-w-width">
                        <!-- <h3 data-w-id="d7301a73-c8f6-1c9a-a9e8-4903a62b2d61" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="gray-title">We are
                            blessed to work with leading brands.</h3> -->
                            <!-- <h2 data-w-id="d7301a73-c8f6-1c9a-a9e8-4903a62b2d61" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="gray-title">¿Quienes somos?</h2> -->
                            <div data-w-id="7662bff7-0613-3bdd-978c-f53e66bd0895" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="max-w-width">
                        		<h1 class="display-2">¿Quienes somos?</h1>
                        	<div>

							<p data-w-id="282478a3-5ac0-2be6-2fcb-9422729ad9d8" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="white-paragraph">
								B-Unit es un sello discográfico conformado por productores, artistas, fotógrafos, expertos en asuntos. legales, orientados a representar artistas del genero urbano. <br/>Realizamos la gestión de toda la música de nuestros artistas, videos musicales, merca oficial y presentaciones en vivo. A través de alianzas estratégicas obtenemos patrocinios para impulsar la carrera de nuestros artistas.
							</p>	

                        	<div class="grid">
                        		 <div id="w-node-_92727075-6600-2768-6833-ab6f0577adcd-ec1f2cdc" class="first w-dyn-list" style="will-change: transform; transform: translate3d(0px, 100px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
	                                <div role="list" class="w-dyn-items">
	                                    <div role="listitem" class="w-dyn-item">
	                                        <div data-w-id="1888de8b-c5b4-5057-8293-09f97fe6907e" class="work-wrapper"><img src="https://static.wixstatic.com/media/a0ba77_eca346d01c4f4c9fba82f38a38e9be39~mv2.jpg/v1/fill/w_2774,h_914,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/a0ba77_eca346d01c4f4c9fba82f38a38e9be39~mv2.jpg" loading="eager" alt="" sizes="(max-width: 479px) 90vw, (max-width: 991px) 45vw, 75vw" srcset="https://static.wixstatic.com/media/a0ba77_eca346d01c4f4c9fba82f38a38e9be39~mv2.jpg/v1/fill/w_2774,h_914,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/a0ba77_eca346d01c4f4c9fba82f38a38e9be39~mv2.jpg 500w, https://static.wixstatic.com/media/a0ba77_eca346d01c4f4c9fba82f38a38e9be39~mv2.jpg/v1/fill/w_2774,h_914,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/a0ba77_eca346d01c4f4c9fba82f38a38e9be39~mv2.jpg 800w, https://static.wixstatic.com/media/a0ba77_eca346d01c4f4c9fba82f38a38e9be39~mv2.jpg/v1/fill/w_2774,h_914,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/a0ba77_eca346d01c4f4c9fba82f38a38e9be39~mv2.jpg 1080w, https://static.wixstatic.com/media/a0ba77_eca346d01c4f4c9fba82f38a38e9be39~mv2.jpg/v1/fill/w_2774,h_914,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/a0ba77_eca346d01c4f4c9fba82f38a38e9be39~mv2.jpg 1280w" class="work-photo" style="will-change: transform; transform: translate3d(0px, -40px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
	                                            <a href="#" class="project-circle w-inline-block" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
	                                                <div class="view-project-icon"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle.png" loading="lazy" width="318.5" srcset="https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle-p-500.png 500w, https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle-p-800.png 800w, https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle.png 1030w" sizes="(max-width: 479px) 72vw, 96px" alt="" class="play-showreel _2" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(175.774deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"></div>
	                                            </a>
	                                            <div class="category-top">
	                                                <div>ARTISTAS DE B-UNIT</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
                        	</div>


                        <!-- 	<img src="https://static.wixstatic.com/media/a0ba77_eca346d01c4f4c9fba82f38a38e9be39~mv2.jpg/v1/fill/w_2774,h_914,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/a0ba77_eca346d01c4f4c9fba82f38a38e9be39~mv2.jpg" alt="_DSC3979.JPG" style="width: 1387px; height: 457px; object-fit: cover; object-position: 50% 50%;" loading="eager"/> -->
							

                           <!--  <div data-w-id="d7301a73-c8f6-1c9a-a9e8-4903a62b2d64" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="logo-grid">
                                <img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b95b6fddd2a2bc4071396_logo-6.svg" loading="lazy" width="150" id="w-node-d7301a73-c8f6-1c9a-a9e8-4903a62b2d65-ec1f2cdc" alt="" class="filter-image"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b95b6fddd2a3d9807139a_file%20(8).svg" loading="lazy" width="145" id="w-node-d7301a73-c8f6-1c9a-a9e8-4903a62b2d66-ec1f2cdc" alt="" class="filter-image"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b95b6fddd2a1215071394_logo-4.png" loading="lazy" width="40" id="w-node-d7301a73-c8f6-1c9a-a9e8-4903a62b2d67-ec1f2cdc" alt="" class="filter-image"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b95b6fddd2a3ec7071397_logo-7.svg" loading="lazy" width="160" id="w-node-d7301a73-c8f6-1c9a-a9e8-4903a62b2d68-ec1f2cdc" alt="" class="filter-image"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b95b6fddd2a3dce071398_file%20(4).svg" loading="lazy" width="180" id="w-node-d7301a73-c8f6-1c9a-a9e8-4903a62b2d69-ec1f2cdc" alt="" class="filter-image"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b95b6fddd2a5d44071399_file%20(3).svg" loading="lazy" width="145" id="w-node-d7301a73-c8f6-1c9a-a9e8-4903a62b2d6a-ec1f2cdc" alt="" class="filter-image"></div> -->
                        </div>
                    </div>
                </div>

                <div class="grid-3-columns margin-200px">

                    <!-- <h3 id="w-node-dc2ab121-2e54-6e4f-ff68-ddb38391533a-ec1f2cdc" data-w-id="dc2ab121-2e54-6e4f-ff68-ddb38391533a" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="gray-title">¿Quienes
                        somos?</h3> -->

                    <div id="w-node-_0f1083a6-67c4-7f99-7563-4b17d4c5ef2e-ec1f2cdc" data-w-id="0f1083a6-67c4-7f99-7563-4b17d4c5ef2e" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <h3 class="gray-title with-line">Misión</h3>
                        <div>
                            <p class="white-paragraph">
                            	Nuestro objetivo es posicionar a nuestros artistas en el máximo nivel que puedan alcanzar de acuerdo a su talento, género y segmentación.
                            </p>
                        </div>
                        <!-- <div class="margin-60px"><a href="/contact" target="_blank" class="button w-button">say
                                hello</a></div> -->
                    </div>
                    <div id="w-node-_94fd236b-e738-4ad6-8d3e-c6bceb9f86c9-ec1f2cdc">
                        <div data-w-id="bb18253d-e9a0-24d2-46ef-8a8605eae40d" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <h3 class="gray-title with-line">Visión</h3>
                            <div>
                                <p class="white-paragraph">
                                	Crear conceptos de entretenimiento de alto nivel y popularidad de calidad internacional.
                                </p>
                            </div>
                        </div>
                    </div>    

                </div>


			 	<div data-w-id="7ec0f71d-2c6d-dcd9-ba79-e6c8355518f6" class="section _2 wf-section margin-150px">
				    	
				    	<video controls autoplay muted>
						  <source src="https://video.wixstatic.com/video/a0ba77_2c693bf4f583406299ea404368ea7fa9/1080p/mp4/file.mp4" type="video/mp4">
						  Your browser does not support the video tag.
						</video>

				    <!-- 	<a href="#" data-w-id="6708841d-b002-d3b8-721c-3a2c466b9f56" style="opacity: 1;" class="lightbox-link w-inline-block w-lightbox" aria-label="open lightbox" aria-haspopup="dialog"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628bacc1b9ad60c8e56eeca5_showreel.png" loading="lazy" srcset="https://assets.website-files.com/628643d8583230966d1f2cdd/628bacc1b9ad60c8e56eeca5_showreel-p-500.png 500w, https://assets.website-files.com/628643d8583230966d1f2cdd/628bacc1b9ad60c8e56eeca5_showreel-p-800.png 800w, https://assets.website-files.com/628643d8583230966d1f2cdd/628bacc1b9ad60c8e56eeca5_showreel.png 1042w" sizes="(max-width: 479px) 85vw, 110.5px" alt="" class="play-showreel" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(187.822deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
				    		<img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628babe16460ffde738d0bfa_video.png" loading="lazy" srcset="https://assets.website-files.com/628643d8583230966d1f2cdd/628babe16460ffde738d0bfa_video-p-500.png 500w, https://assets.website-files.com/628643d8583230966d1f2cdd/628babe16460ffde738d0bfa_video.png 529w" sizes="(max-width: 767px) 11px, 1vw" alt="" class="play-icon"> -->
				  
				            </a>
			       </div>


                <div data-w-id="926f9973-9721-05d1-ff17-565191bd0cf5" class="margin-150px">
                    <div data-w-id="7662bff7-0613-3bdd-978c-f53e66bd0895" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="max-w-width">
                        <h1 class="display-2">Nuestro equipo</h1>
                    </div>
                    <div class="margin-60px">
                        <div class="grid-3-columns _2">
                            <div id="w-node-_92727075-6600-2768-6833-ab6f0577adcd-ec1f2cdc" class="first w-dyn-list" style="will-change: transform; transform: translate3d(0px, 100px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <div role="list" class="w-dyn-items">
                                    <div role="listitem" class="w-dyn-item">
                                        <div data-w-id="1888de8b-c5b4-5057-8293-09f97fe6907e" class="work-wrapper"><img src="https://static.wixstatic.com/media/a0ba77_a7b2695bcb7746bfa6e984cb2ef414b8~mv2.jpg/v1/crop/x_203,y_308,w_1419,h_1380/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT5_edited.jpg" loading="eager" alt="" sizes="(max-width: 479px) 90vw, (max-width: 991px) 45vw, 75vw" srcset="https://static.wixstatic.com/media/a0ba77_a7b2695bcb7746bfa6e984cb2ef414b8~mv2.jpg/v1/crop/x_203,y_308,w_1419,h_1380/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT5_edited.jpg 500w, https://static.wixstatic.com/media/a0ba77_a7b2695bcb7746bfa6e984cb2ef414b8~mv2.jpg/v1/crop/x_203,y_308,w_1419,h_1380/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT5_edited.jpg 800w, https://static.wixstatic.com/media/a0ba77_a7b2695bcb7746bfa6e984cb2ef414b8~mv2.jpg/v1/crop/x_203,y_308,w_1419,h_1380/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT5_edited.jpg 1080w, https://static.wixstatic.com/media/a0ba77_a7b2695bcb7746bfa6e984cb2ef414b8~mv2.jpg/v1/crop/x_203,y_308,w_1419,h_1380/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT5_edited.jpg 1280w" class="work-photo" style="will-change: transform; transform: translate3d(0px, -40px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            <a href="#" class="project-circle w-inline-block" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                                <div class="view-project-icon"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle.png" loading="lazy" width="318.5" srcset="https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle-p-500.png 500w, https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle-p-800.png 800w, https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle.png 1030w" sizes="(max-width: 479px) 72vw, 96px" alt="" class="play-showreel _2" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(175.774deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"></div>
                                            </a>
                                            <div class="category-top">
                                                <div>Art Direction, Design</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-b8bbcc55-d3e1-b089-b98d-6a350ecaa9cb-ec1f2cdc" class="second w-dyn-list">
                                <div role="list" class="w-dyn-items">
                                    <div role="listitem" class="w-dyn-item">
                                        <div data-w-id="b8bbcc55-d3e1-b089-b98d-6a350ecaa9ce" class="work-wrapper"><img src="https://static.wixstatic.com/media/a0ba77_b70421c0c51544be8bba12fede6d52b3~mv2.jpg/v1/crop/x_0,y_435,w_3264,h_3175/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT2.jpg" loading="eager" alt="" sizes="(max-width: 479px) 90vw, (max-width: 991px) 45vw, 75vw" srcset="https://static.wixstatic.com/media/a0ba77_b70421c0c51544be8bba12fede6d52b3~mv2.jpg/v1/crop/x_0,y_435,w_3264,h_3175/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT2.jpg 500w, https://static.wixstatic.com/media/a0ba77_b70421c0c51544be8bba12fede6d52b3~mv2.jpg/v1/crop/x_0,y_435,w_3264,h_3175/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT2.jpg 800w, https://static.wixstatic.com/media/a0ba77_b70421c0c51544be8bba12fede6d52b3~mv2.jpg/v1/crop/x_0,y_435,w_3264,h_3175/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT2.jpg 1080w, https://static.wixstatic.com/media/a0ba77_b70421c0c51544be8bba12fede6d52b3~mv2.jpg/v1/crop/x_0,y_435,w_3264,h_3175/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT2.jpg 1280w" class="work-photo" style="will-change: transform; transform: translate3d(0px, -40px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            <a href="#" class="project-circle w-inline-block" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                                <div class="view-project-icon"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle.png" loading="lazy" width="318.5" srcset="https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle-p-500.png 500w, https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle-p-800.png 800w, https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle.png 1030w" sizes="(max-width: 479px) 72vw, 96px" alt="" class="play-showreel _2" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(175.774deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"></div>
                                            </a>
                                            <div class="category-top">
                                                <div>Logo, User Interface</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-_4cc3900f-5142-579e-1ae8-add0db3ce103-ec1f2cdc" class="third w-dyn-list" style="will-change: transform; transform: translate3d(0px, -100px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <div role="list" class="w-dyn-items">
                                    <div role="listitem" class="w-dyn-item">
                                        <div data-w-id="4cc3900f-5142-579e-1ae8-add0db3ce106" class="work-wrapper"><img src="https://static.wixstatic.com/media/a0ba77_fe98c7a11d8246648893809220d92be8~mv2.jpg/v1/crop/x_0,y_464,w_3264,h_3175/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT8.jpg" loading="eager" alt="" sizes="(max-width: 479px) 90vw, (max-width: 991px) 45vw, 75vw" srcset="https://static.wixstatic.com/media/a0ba77_fe98c7a11d8246648893809220d92be8~mv2.jpg/v1/crop/x_0,y_464,w_3264,h_3175/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT8.jpg 500w, https://static.wixstatic.com/media/a0ba77_fe98c7a11d8246648893809220d92be8~mv2.jpg/v1/crop/x_0,y_464,w_3264,h_3175/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT8.jpg 800w, https://static.wixstatic.com/media/a0ba77_fe98c7a11d8246648893809220d92be8~mv2.jpg/v1/crop/x_0,y_464,w_3264,h_3175/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT8.jpg 1080w, https://static.wixstatic.com/media/a0ba77_fe98c7a11d8246648893809220d92be8~mv2.jpg/v1/crop/x_0,y_464,w_3264,h_3175/fill/w_900,h_816,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/TEAM%20BUNIT8.jpg 1280w" class="work-photo" style="will-change: transform; transform: translate3d(0px, -40px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            <a href="#" class="project-circle w-inline-block" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                                <div class="view-project-icon"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle.png" loading="lazy" width="318.5" srcset="https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle-p-500.png 500w, https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle-p-800.png 800w, https://assets.website-files.com/628643d8583230966d1f2cdd/628b99d4185081a254ea9138_circle.png 1030w" sizes="(max-width: 479px) 72vw, 96px" alt="" class="play-showreel _2" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(175.774deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"></div>
                                            </a>
                                            <div class="category-top">
                                                <div>Logo, User Interface</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="margin-30px">
                        <div data-w-id="44c86d45-7b25-51ca-b459-ea57eda3d040" style="opacity: 0;" class="align-center"><a href="#" class="button dark w-button">Conocer más</a></div>
                    </div>
                </div>
      
            </div>
        </div>	  	 
    </div>

    <div class="section cta wf-section">
            <div class="container">
                <div class="cta-grid">
                    <div id="w-node-e050aed6-f27b-61c3-0ebd-5a4452ea20b6-52ea20b3">
                        <h1 data-w-id="e050aed6-f27b-61c3-0ebd-5a4452ea20b7" class="display-1" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">Contáctanos</h1>
                    </div>
                    <div id="w-node-e050aed6-f27b-61c3-0ebd-5a4452ea20b9-52ea20b3"><a data-w-id="e050aed6-f27b-61c3-0ebd-5a4452ea20ba" href="/contact" class="button-circle w-inline-block" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"><img src="https://assets.website-files.com/628643d8583230966d1f2cdd/628ca972185596614b4c28b5_touch.png" loading="lazy" width="318.5" srcset="https://assets.website-files.com/628643d8583230966d1f2cdd/628ca972185596614b4c28b5_touch-p-500.png 500w, https://assets.website-files.com/628643d8583230966d1f2cdd/628ca972185596614b4c28b5_touch-p-800.png 800w, https://assets.website-files.com/628643d8583230966d1f2cdd/628ca972185596614b4c28b5_touch.png 1048w" sizes="(max-width: 479px) 80px, 96px" alt="" class="play-showreel _2 no-invert" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(245.337deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"></a>
                    </div>
                </div>
            </div>
    </div>

    <div class="footer wf-section">
            <div class="container">
                <div class="footer-grid">
                    <div id="w-node-c6305e1e-07bb-fd8c-0e0b-048c45375b78-45375b75" data-w-id="c6305e1e-07bb-fd8c-0e0b-048c45375b78" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <h3 class="footer-title">Sitemap</h3>
                        <div class="margin-30px"><a href="/" aria-current="page" class="footer-link">Inicio</a><a href="/about" class="footer-link">Conócenos</a><a href="/work" class="footer-link">Equipo</a><a href="/pricing" class="footer-link">Artistas</a><a href="/template-info/style-guide" class="footer-link">Contacto</a><a href="/template-info/licensing" class="footer-link">Image Licensing</a></div>
                    </div>
                    <div id="w-node-c6305e1e-07bb-fd8c-0e0b-048c45375b88-45375b75" data-w-id="c6305e1e-07bb-fd8c-0e0b-048c45375b88" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <h3 class="footer-title">Contacto</h3>
                        <div class="margin-30px">
                            <div class="contact-grid on-footer">
                                <div>
                                    <p>Inglaterra 102, Moderna, 37328 León, Gto México</p>
                                </div>
                                <div><a href="#" class="paragraph-link-2">P: 477 249 2798</a><a href="#" class="paragraph-link-2">E: bunitmx@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-c6305e1e-07bb-fd8c-0e0b-048c45375b95-45375b75" data-w-id="c6305e1e-07bb-fd8c-0e0b-048c45375b95" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <h3 class="footer-title">Suscríbete a nuestras eventos</h3>
                        <div class="margin-30px">
                            <div class="form-block w-form">
                                <form id="wf-form-Subscribe-Form" name="wf-form-Subscribe-Form" data-name="Subscribe Form" method="get" class="form" aria-label="Subscribe Form"><input type="email" class="subscribe-field w-input" maxlength="256" name="Subscirbe-2" data-name="Subscirbe 2" placeholder="Escribe tu email..." id="Subscirbe-2" required=""><input type="submit" value="" data-wait="Please wait..." class="submit-button w-button"></form>
                                <div class="success-message w-form-done" tabindex="-1" role="region" aria-label="Subscribe Form success">
                                    <div>Gracias por registrarte!</div>
                                </div>
                                <div class="error-message w-form-fail" tabindex="-1" role="region" aria-label="Subscribe Form failure">
                                    <div>Oops! Algo salió mal al suscribirte :(.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-40px-2">
                    <div class="copyright-flex">
                        <!-- <p class="copyright">© This is a <a href="https://webflow.com/templates/designers/deni-bozo" target="_blank" class="white-link">Deni Bozo</a> template powered by <a href="https://webflow.com/" target="_blank" class="white-link">Webflow</a></p> -->
                    </div>
                </div>
            </div>
    </div>
	
</Layout>
